@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  background: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  width: 28px;
  height: 28px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

input[type='date'] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
}
